@{
    ViewData["Title"] = "Home Page";
}

<div class="background-color-black">
    <div class="background-image-bmw" >
        <div class="position-absolute w-100 h-75 row align-items-center">
            <div class="my-auto text-center position-relative">
                <h4 class="text-white">Modern equipment</h4>
                <h2 class="text-white">Premium Detailing</h2>
                <div class="w-50 m-auto text-white pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <button class="button-red-border mr-4 text-danger btn d-inline-block">Read More ></button>
                <button class="button-red-border ml-4 text-danger btn d-inline-block">Order Now ></button>
            </div>
        </div>
    </div>
</div>
<div class="row w-100">
    <div class="col-6">
        <div class="w-100">
            <img style="max-height:100%; max-width:100%" src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/is8rDPGsGlcg/v1/1000x-1.jpg" />
        </div>
    </div>
    <div class="col-6 text-white text-center">
        <div class="w-75 m-auto">
            <p style="border-bottom: 5px solid red">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fringilla ut morbi tincidunt augue interdum velit euismod. Placerat orci nulla pellentesque dignissim enim sit amet. Dolor sed viverra ipsum nunc aliquet bibendum enim. Facilisis sed odio morbi quis. Morbi quis commodo odio aenean sed adipiscing diam donec. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Donec enim diam vulputate ut pharetra sit amet aliquam id. Quisque non tellus orci ac auctor augue mauris. In mollis nunc sed id semper. Elementum nibh tellus molestie nunc non blandit massa enim nec. Neque gravida in fermentum et sollicitudin ac orci phasellus egestas. Et netus et malesuada fames. Leo urna molestie at elementum eu facilisis sed. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Aliquam etiam erat velit scelerisque in dictum non consectetur.
            </p>
        </div>
    </div>
</div>
